.octane-component {
  /* Dark theme */
  --octane-bg-primary: #071420;
  --octane-fg-primary: #ffffff;
  --octane-border-primary: #d4f5f54d;
  --octane-fg-accent: #a8c9bf;

  /* Light theme */
  /* --octane-bg-primary: #d4f5f54d;
  --octane-fg-primary: #071420;
  --octane-border-primary: #c7dcd5;
  --octane-fg-accent: #128475; */

  --octane-spacing: 6px;
  --octane-default-font: -apple-system, BlinkMacSystemFont, 'avenir next',
    avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;

  color: var(--octane-fg-primary);
  font-family: var(--octane-default-font);
}

.octane-component.price-plan-picker {
  overflow-y: auto;
  white-space: nowrap;
  text-align: left;
}

.octane-component.price-plan-picker .price-plan-card {
  display: inline-block;
  width: 250px;
}

.octane-component .price-plan-card {
  border-color: var(--octane-border-primary);
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  background-color: var(--octane-bg-primary);

  white-space: normal;
  text-align: center;
  padding: calc(var(--octane-spacing) * 2);
  margin: var(--octane-spacing);
}

.octane-component .price-plan-card .plan-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: calc(var(--octane-spacing) * 2);
}

.octane-component .label {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: 0.1rem;
}

.octane-component .separator {
  display: block;
  width: 100%;
  border: 1px solid var(--octane-border-primary);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: calc(var(--octane-spacing) * 2);
}

.octane-component .base-price {
  margin-bottom: calc(var(--octane-spacing) * 2);
}
.octane-component .base-price .cost {
  font-size: 1.3rem;
  color: var(--octane-fg-accent);
}
.octane-component .base-price .period {
  font-size: 0.8rem;
  color: var(--octane-fg-accent);
}
