@import 'octane-components/dist/components/globals.css';
@import 'octane-components/dist/components/PlanPicker.css';
@import 'octane-components/dist/components/payment/PaymentSubmission.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.octane-component.payment-submission {
  max-width: 500px;
  margin: 30px auto;
}
