.octane-component {
  /* Dark theme */
  --octane-bg-primary: #071420;
  --octane-bg-secondary: #212c37;
  --octane-bg-lighter: #484e5980;
  --octane-bg-accent-disabled: #afcfd0;
  --octane-bg-accent: #6ea9aa;
  --octane-text-primary: #ffffff;
  --octane-text-secondary: #d4f5f5;
  --octane-border-primary: #d4f5f54d;
  --octane-text-accent: #a8c9bf;
  --octane-shadow-color: #212c37cc;
  --octane-action-primary: #6886ff;
  --octane-action-secondary: #9fb0e0;
  --octane-action-tertiary: #d1d9ef;

  /* Light theme */
  /* --octane-bg-primary: #d4f5f54d;
  --octane-text-primary: #071420;
  --octane-border-primary: #c7dcd5;
  --octane-text-accent: #128475;
  --octane-bg-secondary: #becbd8;
  --octane-bg-lighter: #484e5980;
  --octane-text-secondary: #282c2c;
  --octane-border-primary: #d4f5f54d; */

  --octane-spacing: 6px;
  --octane-transition-speed: 0.1s;
  --octane-default-font: -apple-system, BlinkMacSystemFont, 'avenir next',
    avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  --octane-plan-title-size: 1.5rem;
  --octane-meter-text-size: 0.8rem;
  --octane-smallcaps-size: 0.8rem;
  --octane-smallcaps-baseline: 0.1rem;
  --octane-border-radius-sm: 3px;
  --octane-border-radius-lg: 5px;

  color: var(--octane-text-primary);
  font-family: var(--octane-default-font);
  box-sizing: border-box;
}

.octane-component .payment-submission:hover {
  background-color: var(--octane-action-primary);
}

.payment-footer {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  padding: 4px 12px;
  width: 100%;
  margin: 12px 0;
  background-color: var(--octane-action-secondary);
  cursor: pointer;
}

.save-button:hover {
  background-color: var(--octane-action-primary);
}
